@import "../../assets/style-env";

.address-type{
  font-family: $hc-font;
  font-size:16px;
  font-weight: 600;
}
.address-name{
  font-family: $hc-font;
  font-size:14px;
  color:$hc-text-color-3
}

.address-button{
  font-family: $hc-font !important;
  font-size:16px !important;
  font-weight: 600 !important;
  color: $hc-primary-color !important;
}
