@import "../../assets/style-env";

.chef-name{
  font-family: $hc-font;
  font-size: 15px;
  line-height: 2.88;
  letter-spacing: 0.5px;
  text-align: center;
  height: 12px;
}

.chef-address{
  font-family: $hc-font;
  font-size: 12px;
  height: 12px;
  line-height: 4.17;
  text-align: center;

  letter-spacing: 0.4px;
  color: $hc-text-color-1;
}
.chef-image{
  max-width: 150px;
  height: 150px !important;
}

.chef-image-xs{
  max-width: 135px;
  height: 135px !important;
}

.rating-filled{
  color:$hc-secondary-color;
}
.rating-unfilled{
  color:$hc-primary-color;
}
