@import url('https://fonts.googleapis.com/css?family=Poppins');

$hc-font: 'Poppins';
$hc-primary-color: #ed1651;
$hc-secondary-color: #ffcb08;

$hc-btn-primary-background: #ed1651;
$hc-primary-text-color: #949090;
$hc-default-text-color: #000000;
$hc-secondary-text-color: #010101;
$hc-text-color-1:#484646;
$hc-text-color-2:#323a38;
$hc-text-color-3:#696666;
$hc-text-color-4:#363434;
$hc-background: #f2f2f2;

